body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 2rem;
}

.button {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.label {
  background-color: red;
  color: white;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
}